@import url('https://fonts.googleapis.com/css?family=Joti+One');

body {
	background-image: url(https://i.imgur.com/53yhOWx.jpg);
	background-size: cover;
}
.grid_container {
	display: grid;
	grid-template-rows: 15vw 15vw;
	grid-template-columns: 15vw 15vw;
	grid-template-areas:
	'green red'
	'yellow blue';
}
.grid_container:nth-child(1){
	box-shadow: 5px 10px 18px #888888:
}
.flex_container {
	display: flex;
	justify-content: center;
}
.red {
	background-color: red;
	border-radius: 0 100% 0 0;
}
.blue {
	background-color: blue;
	border-radius: 0 0 100% 0;
}
.green {
	background-color: green;
	border-radius: 100% 0 0 0;
}
.yellow {
	background-color: yellow;
	border-radius: 0 0 0 100%;
}
.white {
	background-color: white;
}
button {
	color: white;
	padding: .5em;
	background-color: black;
	border: 2px solid black;
	border-radius: 5%;
	font-size: 1.5em;
	font-family: 'Joti One', cursive;
	box-shadow: 5px 10px 18px red:
}
h1, .startButton {
	font-family: 'Joti One', cursive;
	display: flex;
	justify-content: center;
}
